$font-base: "Nunito", sans-serif;
$font-size-base: 2rem;
$font-size-small: 1.6rem;
$font-size-big: 3.1rem;
$font-size-h1: 3rem;
$font-size-h2: 2.1rem;
$font-size-h3: 2.6rem;

$primary-color: #006792; // black
$secondary-color: #F1F2ED; // blue
$tertiary-color: #F6F7F4; // green
$quaternary-color: #707070; // gray
$activeMenu-color: #006792; // darkblue
