@use "base";
@use "abstracts" as var;

h1,
.h1 {
  @include var.font-modifier(var.$font-base, var.$font-size-h1, normal, 600);
  color: var.$primary-color;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  @include var.font-modifier(var.$font-base, var.$font-size-h2, normal, 600);
  color: black;
}

h3,
.h3 {
  @include var.font-modifier(var.$font-base, var.$font-size-h3, normal, 500);
  color: var.$primary-color;
}

.hero-banner-content {
  h1, strong, a, li, p, #page-navigation a {
    color: white;
  }
}
