@use "base";
@use "abstracts" as var;
@use "layouts";
@use 'pages';
@use 'components';

body.home {
    display: block;
}

body {
    max-width: 1920px !important;
    margin-inline: auto !important;
}

main {
    max-width: 1920px !important;
    margin-inline: auto !important;
}