@use "../abstracts" as var;

.header-front {
  flex-direction: column;
  margin-top: 0;
  margin-left: 0;
  position: relative;
  z-index: 99;

  @include var.breakpoint(1056px) {
    display: flex;
  }

  @include var.breakpoint(469px) {
    .logo-blanc {
      margin-top: 3em;
    }
  }
}

.nav-front-container {
  display: grid;
  grid-template-columns: 0.05fr 0.95fr;
  align-items: center;
  justify-items: center;
  width: 90%;
  padding-block: 0.5em;

  @include var.breakpoint(1056px) {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a img {
      margin-left: 1em;
      width: 75%;
    }
  }
}

.accueil-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include var.breakpoint(784px) {
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }

  &__red-bg {
    background: var.$red_500;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    picture {
      width: auto;
    }

    @include var.breakpoint(388px) {
      padding-block: 4em;

      img:first-of-type {
        max-width: 80%;
        margin-inline: auto;
      }
    }

    strong {
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      color: white;
      width: fit-content;
      width: -moz-fit-content;
      height: fit-content;
      height: -moz-fit-content;

      &::before,
      &::after {
        content: "/";
      }

      &::before {
        margin-left: 0.3em;
      }

      &::after {
        margin-right: 0.3em;
      }

      &:first-of-type {
        top: 2%;
        right: 0;
        left: 0;
        margin-inline: auto;
      }

      &:nth-of-type(2) {
        top: 0;
        bottom: 0;
        right: 0;
        margin-block: auto;
        transform: rotate(-90deg);

        @include var.breakpoint(401px) {
          right: -3%;
        }
      }

      &:nth-of-type(3) {
        bottom: 2%;
        right: 0;
        left: 0;
        margin-inline: auto;
      }

      &:nth-of-type(4) {
        bottom: 0;
        top: 0;
        left: -4%;
        margin-block: auto;
        transform: rotate(90deg);

        @include var.breakpoint(548px) {
          left: -12%;
        }

        @include var.breakpoint(401px) {
          left: -17%;
        }
      }
    }
  }

  @include var.breakpoint(369px) {
    &__red-bg picture {
      max-width: 60%;
    }
  }

  img:last-of-type {
    margin-bottom: 7em;
    margin-top: 4.5em;
  }
}

.accueil-banner__right-site {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  @include var.breakpoint(1454px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include var.breakpoint(970px) {
    grid-template-columns: 1fr;
  }

  .hero-accueil-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0 !important;
    z-index: -1;
    justify-items: center;
    align-items: center;
  }

  .phone {
    grid-row: 1;
    grid-column: 3;
    height: fit-content;
    align-self: start;
    justify-self: end;
    margin-top: 2em;

    @include var.breakpoint(1454px) {
      grid-column: 2;
    }
    @include var.breakpoint(1056px) {
      display: none;
    }
    @include var.breakpoint(970px) {
      grid-column: 1;
    }

  }

  h1 {
    display: flow-root;
    background: #171c20;
    font-size: 3rem;
    grid-column: 1;
    grid-row: 3;
    font-weight: 400;
    height: fit-content;
    height: -moz-fit-content;
    align-self: end;
    justify-self: center;
    max-width: 70%;

    @include var.breakpoint(488px) {
      max-width: 100%;
    }

    &::after,
    &::before {
      content: unset;
    }
  }
}

.illustration {
  max-width: 375px;
  width: 90%;
  margin-inline: auto;

  @include var.breakpoint(474px) {
    width: 70%;
  }

  @include var.breakpoint(369px) {
    width: 90%;
  }
}
