@use "../abstracts" as var;

.socials-header {
  position: fixed;
  right: 0;
  top: 45%;
  z-index: 100;

  @include var.breakpoint(1056px) {
    position: absolute;
  }

  a:not(:last-of-type) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.9em;
    border-radius: 100%;
    background: var.$white_700;
    padding: 0.4em;
    margin-right: 0.8em;

  }

  .contact-socials__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    height: 65.4px;
    background: white;
    padding: 0.4em;
    padding-right: 0.8em;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
  }

  .socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
