@use "../abstracts" as var;

.socials-header {
  position: fixed;
  right: 0.8%;
  top: 45%;
  z-index: 100;

  @include var.breakpoint(1056px) {
    position: absolute;
  }

  a {
    display: flow-root;
    margin-bottom: 0.3em;
  }

  .socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-header {
    position: absolute;
    width: 85px;
    height: 58px;
    right: -31%;

    @include var.breakpoint(1056px) {
      right: -14%;
    }

    @include var.breakpoint(930px) {
	right: -10%;
    }

    @include var.breakpoint(602px) {
	right: -8%;
    }

    @include var.breakpoint(457px) {
      right: -4%;
    }
  }
}
